<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa's Gift List</title>

</head>
<body>
    <h1> Welcome to Santa's Gift List </h1>

    <!-- navigation bar -->
    <div class="topnav">
        <span class="brand">Christmas Coding</span>
        <div class="dropdown">
            <button class="dropbtn">Settings</button>
            <div class="dropdown-content">
                <a href="#">Accessibility</a>
                <a href="#" onclick="document.body.classList.add('dark-mode'); return false;">Dark Mode</a>
                <a href="#" onclick="document.body.classList.remove('dark-mode'); return false;">Light Mode</a>
            </div>
        </div>
    </div>
    </div>

    <!-- Gifts Table -->

    <form method="POST">
        <label for="name">Name</label><br>
        <input type="text" name="name" required><br><br>

        <label for="price">Price</label><br>
        <input type="text" name="price" required><br><br>

        <label for="image">Image (Optional)</label><br>
        <input type="file" name="image" accept="image/*"><br><br>

        <button type="submit">Add Gift</button>
    </form>>
</body>