<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa's Gift List</title>

</head>
<body>
    <h1> Welcome to Santa's Gift List </h1>

    <!-- navigation bar -->
    <div class="topnav">
        <span class="brand">Christmas Coding</span>
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Settings</button>
            <div class="dropdown-content">
                <a href="#">Accessibility</a>
                <a href="#" onclick="document.body.classList.add('dark-mode'); return false;">Dark Mode</a>
                <a href="#" onclick="document.body.classList.remove('dark-mode'); return false;">Light Mode</a>
            </div>
        </div>
    </div>
    </div>

    <!-- Gifts Table -->

    <table border="1" id="giftsTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th onclick="sortTable(1)">Name</th>
                <th onclick="sortTable(2)">Price</th>
                <th onclick="sortTable(3)">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for gift in gifts %}
            <tr>
                <td>{{ gift[0] }}</td>
                <td>{{ gift[2] }}</td>
                <td>{{ gift[3] }}</td>
                <td>{{ gift[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>