<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Coding</title>

</head>
<body>
    <h1> Welcome to the Christmas Coding website </h1>
    
    <!-- navigation bar -->
    <div class="topnav">
        <span class="brand">Christmas Coding</span>
        <div class="dropdown">
            <button class="dropbtn">Settings</button>
            <div class="dropdown-content">
                <a href="#">Accessibility</a>
                <a href="#" onclick="document.body.classList.add('dark-mode'); return false;">Dark Mode</a>
                <a href="#" onclick="document.body.classList.remove('dark-mode'); return false;">Light Mode</a>
            </div>
        </div>
    </div>
    </div>
    
    <!-- dashboard for the challenges -->
     <div class="dashboard-grid">

        <div class="card">
            <h3>Challenge 1</h3>
            <p>Santas age checker</p>
            <a href="/agechecker" class="action-btn">Start Challenge 1</a>
        </div>

        <div class="card">
            <h3>Challenge 2</h3>
            <p>Christmas gift list</p>
            <button class="action-btn">start challenge 2</button>
        </div>

        <div class="card">
            <h3>Challenge 3</h3>
            <p>Christmas stock database </p>
            <button class="action-btn">Start challenge 3</button>
        </div>

        <div class="card">
            <h3>Challenge 4</h3>
            <p>Christmas countdown</p>
            <button class="action-btn">Start challenge 4</button>
        </div>

    </div>


</body>
</html>

