<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Coding</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <h1> Welcome to the Christmas Coding website </h1>

     <div class="dashboard-grid">

        <div class="card">
            <h3>Challenge 1</h3>
            <p>Santas age checker</p>
            <button class="action-btn">Start santas age checker</button>
        </div>

        <div class="card">
            <h3>Challenge 2</h3>
            <p>Christmas gift list</p>
            <button class="action-btn">start challenge 2</button>
        </div>

        <div class="card">
            <h3>Challenge 3</h3>
            <p>Christmas stock database </p>
            <button class="action-btn">Start challenge 3</button>
        </div>

        <div class="card">
            <h3>Challenge 4</h3>
            <p>Christmas countdown</p>
            <button class="action-btn">Start challenge 4</button>
        </div>

    </div>


</body>
</html>

