<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa's Stock Inventory</title>

</head>
<body>
    <h1> Welcome to Santa's Stock Inventory </h1>

    <!-- navigation bar -->
    <div class="topnav">
        <span class="brand">Christmas Coding</span>
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Settings</button>
            <div class="dropdown-content">
                <a href="#">Accessibility</a>
                <a href="#" onclick="document.body.classList.add('dark-mode'); return false;">Dark Mode</a>
                <a href="#" onclick="document.body.classList.remove('dark-mode'); return false;">Light Mode</a>
            </div>
        </div>
    </div>
    </div>

    <!-- Gifts Table -->
    {% for item in items %}
    <li>
        {{item[1]}} | {{item[2]}} | {{item[3]}}
        <img src="{{ url_for('static', filename='images/' + (item[3] if item[3] else 'othercat.gif')) }}" alt="Avatar" width="50" height="50" style="vertical-align: middle ; border-radius: 50%;"></img>
    </li>
    {% endfor %}
    <a href="{{ url_for('add_stock') }}">Add item</a>
    
</body>